<h1>New Virtual Machine</h1>

<%= form_for :machine do |f| %>
	<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :type %><br>
	<%= f.select(:type_id, options_from_collection_for_select(Type.all, :id, :name)) %>
	<%= f.submit %>
<% end %>
